<section id="blog" class="block-section">
  <div class=" shape-bottom">
    <div class="bg-secondary block-title">
      <div class="container">
        <h2 class="text-uppercase color-dark text-bold no-margin">{{blogDetails.title}}</h2>
        <div class="title-icon"> <i class="fa fa-inbox"></i> </div>
      </div>
    </div>
  </div>

  <!-- BLOG CONTENT  -->
  <div class="block-page">
    <div class="container-medium">
      <div class="row">
        <div class="col-md-9">
          <div class="blog-content">
            <img src="assets/theme/images/blog/2.jpg" alt="" class="img-responsive">
            <div class="white-space-20"></div>
            <div class="post-meta font-alt">
              <span><i class="fa fa-calendar"></i> {{blogDetails.creationDay | date:'MM/dd/yyyy'}}</span>
              <span><i class="fa fa-user"></i> Jack</span>
              <span><i class="fa fa-folder-o"></i> {{blogDetails.blogType}}</span>
            </div>
            <p>{{blogDetails.description}}</p>

          </div>
          <div class="white-space-40"></div>
          <h4 class="color-dark text-uppercase text-bold">Comments</h4>
          <ol class="comments">
            <li>
              <div *ngFor="let comment of comments"  class="post-comment-block" >
                <div class="img-thumbnail"> <img src="assets/theme/images/people/1.jpg" alt="avatar"> </div>
                <!--<button class="btn btn-link btn-xs btn-flat-line pull-right" (click)="replayCommentBtnClick()">Reply</button>-->
                <h5 class="no-margin-bottom">{{comment.commentedBy}} <small>says:</small></h5>
                <span class="meta-data">{{comment.commentedAt}}</span>
                <div class="clearfix white-space-10"></div>
                <p>{{comment.commentText}}</p>
                <!--<ul>
                  <li>
                    <div class="post-comment-block" *ngIf="showCommentReplyInput">
                      <textarea name="message" rows="3" aria-required="true" class="form-control form-flat" *ngModel="message"></textarea>
                      <button class="btn btn-link btn-xs btn-flat-line pull-right" (click)="saveCommentReply()">Send</button>
                    </div>
                  </li>
                </ul>-->
              </div>
              
            </li>
          </ol>
          <!-- LIST COMMENTS  -->
          <!--<ol class="comments">
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/1.jpg" alt="avatar"> </div>
                <a href="#" class="btn btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <button class="btn btn-link btn-xs btn-flat-line pull-right" (click)="replayCommentBtnClick()">Basic</button>
                <h5 class="no-margin-bottom">Clara <small>says:</small></h5>
                <span class="meta-data">Just now</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
            </li>
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/6.jpg" alt="avatar"> </div>
                <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <h5 class="no-margin-bottom ">Eno <small>says:</small></h5>
                <span class="meta-data">5 minutes ago</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
              <ul>
                <li>
                  <div class="post-comment-block">
                    <div class="img-thumbnail"> <img src="assets/theme/images/people/5.jpg" alt="avatar"> </div>
                    <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                    <h5 class="no-margin-bottom ">Katty <small>says:</small></h5>
                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                    <div class="clearfix white-space-10"></div>
                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                  </div>
                </li>
                <li>
                  <div class="post-comment-block">
                    <div class="img-thumbnail"> <img src="assets/theme/images/people/3.jpg" alt="avatar"> </div>
                    <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                    <h5 class="no-margin-bottom ">Riani <small>says:</small></h5>
                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                    <div class="clearfix white-space-10"></div>
                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/2.jpg" alt="avatar"> </div>
                <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <h5 class="no-margin-bottom ">Reno <small>says:</small></h5>
                <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
            </li>
          </ol>--><!-- END LIST COMMENTS  -->


          <div class="white-space-30"></div>
          <h4 class="color-dark text-uppercase text-bold">POST A COMMENT</h4>

          <!-- FORM COMMENTS  -->
          <form>
            <div class="row">
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>Your Name (*)</label>
                  <input type="text" class="form-control form-flat" name="fullname" [(ngModel)]="comment.CommentedBy">
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>Email (*)</label>
                  <input type="email" class="form-control form-flat" name="email" [(ngModel)]="comment.Email">
                </div>
              </div>
              <!--<div class="col-md-4 ">

                <div class="form-group">
                  <label>Website</label>
                  <input type="email" class="form-control form-flat" name="website">
                </div>
              </div>-->
            </div>

            <div class="form-group">
              <label>Your Comment (*)</label>
              <textarea class="form-control form-flat" name="message" rows="8" [(ngModel)]="comment.CommentText"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-flat-solid primary-btn" (click)="submitComment(comment)">Submit Comment</button>
            </div>
          </form><!-- END FORM COMMENTS  -->

          <div class="white-space-30"></div>
        </div>
      </div>
    </div>
  </div><!--END BLOG CONTENT  -->
  <!-- PARALLAX BTNS  -->
  <div class="parallax-bg white-light bg1">
    <div class="container">
      <div class="padding30 text-center relative">
        <a href="#" class="btn btn-flat-line btn-default light-font btn-xs"><i class="fa fa-angle-left"></i>  PREV POST</a>
        <span class="space-inline-15 hidden-xs"></span>
        <a href="#" class="btn btn-flat-line btn-default light-font btn-xs">NEXT POST <i class="fa fa-angle-right"></i> </a>
      </div>
    </div>
  </div><!-- END PARALLAX BTNS  -->

</section>
