<section id="blog" class="block-section">
  <div class=" shape-bottom">
    <div class="bg-secondary block-title">
      <div class="container">
        <h2 class="text-uppercase color-dark text-bold no-margin">BLOG POST Titlte</h2>
        <div class="title-icon"> <i class="fa fa-inbox"></i> </div>
      </div>
    </div>
  </div>

  <!-- BLOG CONTENT  -->
  <div class="block-page">
    <div class="container-medium">
      <div class="row">
        <div class="col-md-9">
          <div class="blog-content">
            <img src="assets/theme/images/blog/2.jpg" alt="" class="img-responsive">
            <div class="white-space-20"></div>
            <div class="post-meta font-alt">
              <span><i class="fa fa-calendar"></i> 19th May 2014</span>
              <span><i class="fa fa-user"></i> Jack</span>
              <span><i class="fa fa-folder-o"></i> News</span>
            </div>
            <p>Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.</p>
            <blockquote>
              <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
            </blockquote>
            <p>Immersive garden was founded by award winning Art director Dilshan Arukatti. Immersive garden is a creative team that has been passionately experiencing for over a decade new ways to bring to the world meaningful digital experiences that will touch people deep in their emotion and last in time.</p>
            <p>Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.</p>

          </div>
          <div class="white-space-40"></div>
          <h4 class="color-dark text-uppercase text-bold">Comments</h4>

          <!-- LIST COMMENTS  -->
          <ol class="comments">
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/1.jpg" alt="avatar"> </div>
                <a href="#" class="btn btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <h5 class="no-margin-bottom">Clara <small>says:</small></h5>
                <span class="meta-data">Just now</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
            </li>
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/6.jpg" alt="avatar"> </div>
                <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <h5 class="no-margin-bottom ">Eno <small>says:</small></h5>
                <span class="meta-data">5 minutes ago</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
              <ul>
                <li>
                  <div class="post-comment-block">
                    <div class="img-thumbnail"> <img src="assets/theme/images/people/5.jpg" alt="avatar"> </div>
                    <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                    <h5 class="no-margin-bottom ">Katty <small>says:</small></h5>
                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                    <div class="clearfix white-space-10"></div>
                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                  </div>
                </li>
                <li>
                  <div class="post-comment-block">
                    <div class="img-thumbnail"> <img src="assets/theme/images/people/3.jpg" alt="avatar"> </div>
                    <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                    <h5 class="no-margin-bottom ">Riani <small>says:</small></h5>
                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                    <div class="clearfix white-space-10"></div>
                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                  </div>
                </li>
              </ul>
            </li>
            <li>
              <div class="post-comment-block">
                <div class="img-thumbnail"> <img src="assets/theme/images/people/2.jpg" alt="avatar"> </div>
                <a href="#" class="btn  btn-link btn-xs btn-flat-line pull-right">Reply</a>
                <h5 class="no-margin-bottom ">Reno <small>says:</small></h5>
                <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                <div class="clearfix white-space-10"></div>
                <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
              </div>
            </li>
          </ol><!-- END LIST COMMENTS  -->


          <div class="white-space-30"></div>
          <h4 class="color-dark text-uppercase text-bold">POST A COMMENT</h4>

          <!-- FORM COMMENTS  -->
          <form>
            <div class="row">
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>Your Name (*)</label>
                  <input type="text" class="form-control form-flat" name="fullname">
                </div>
              </div>
              <div class="col-md-4 ">
                <div class="form-group">
                  <label>Email (*)</label>
                  <input type="email" class="form-control form-flat" name="email">
                </div>
              </div>
              <div class="col-md-4 ">

                <div class="form-group">
                  <label>Website</label>
                  <input type="email" class="form-control form-flat" name="website">
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Your Comment (*)</label>
              <textarea class="form-control form-flat" name="message" rows="8"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-flat-solid primary-btn">Submit Comment</button>
            </div>
          </form><!-- END FORM COMMENTS  -->

          <div class="white-space-30"></div>
        </div>
        <div class="col-md-3">
          <!-- END WIDGET BLOG  -->
          <form class="box-widget">
            <div class="input-group">
              <input type="text" placeholder="Keywords" name="search" class="form-control form-flat ">
              <span class="input-group-btn">
                <button class="btn primary-btn btn-flat-solid btn-icon " type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form><!-- END WIDGET BLOG  -->
          <!-- END WIDGET BLOG  -->
          <div class="box-widget">
            <h5 class="color-dark text-bold text-uppercase">Categories</h5>
            <ul class="list-category list-unstyled">
              <li><a href="#">Web Design <span class="color-dark">(10)</span></a></li>
              <li><a href="#">Wordpress <span class="color-dark">(2)</span></a></li>
              <li><a href="#">Html/Css <span class="color-dark">(6)</span></a></li>
              <li><a href="#">Branding <span class="color-dark">(20)</span></a></li>
              <li><a href="#">Animation <span class="color-dark">(4)</span></a></li>
            </ul>
          </div><!-- END WIDGET BLOG  -->
          <!-- END WIDGET BLOG  -->
          <div class="box-widget">
            <h5 class="color-dark text-bold text-uppercase">Popular tags</h5>
            <ul class="list-tags list-unstyled">
              <li><a href="#">Web Design</a></li>
              <li><a href="#">Wordpress</a></li>
              <li><a href="#">Html/Css</a></li>
              <li><a href="#">Branding</a></li>
              <li><a href="#">Animation</a></li>
              <li><a href="#">Xcode</a></li>
              <li><a href="#">Marketing</a></li>
              <li><a href="#">Socials media</a></li>
              <li><a href="#">Photography</a></li>
            </ul>
          </div><!-- END WIDGET BLOG  -->
          <!-- WIDGET BLOG  -->
          <div class="box-widget">
            <h5 class="color-dark text-bold text-uppercase">ARCHIVES</h5>
            <ul class="list-archive list-unstyled">
              <li><a href="#">June 2014</a></li>
              <li><a href="#">July 2014</a></li>
              <li><a href="#">October 2014</a></li>
              <li><a href="#">November 2014</a></li>
              <li><a href="#">December 2014</a></li>
            </ul>
          </div><!-- END WIDGET BLOG  -->


        </div>
      </div>
    </div>
  </div><!--END BLOG CONTENT  -->
  <!-- PARALLAX BTNS  -->
  <div class="parallax-bg white-light bg1">
    <div class="container">
      <div class="padding30 text-center relative">
        <a href="#" class="btn btn-flat-line btn-default light-font btn-xs"><i class="fa fa-angle-left"></i>  PREV POST</a>
        <span class="space-inline-15 hidden-xs"></span>
        <a href="#" class="btn btn-flat-line btn-default light-font btn-xs">NEXT POST <i class="fa fa-angle-right"></i> </a>
      </div>
    </div>
  </div><!-- END PARALLAX BTNS  -->

</section>
