 <!-- Main Header -->
    <header class="main-header" id="home" style="height: 880px;">
        <div class="content-table header-content-fixed " style="height: 880px;">
          <div class="whoim">
            <div class="box-line text-uppercase text-bold">
              Who I Am
            </div>
          </div>
          <div class="v-content">
            <div class="container">
              <h1 class="text-uppercase color-dark name">i’m Jhone doe</h1>
              <h4 class="text-uppercase color-dark font-alt job"><span id="typed" class="typed">A De</span><span class="typed-cursor">.</span></h4>
            </div>
          </div>
        </div>
  
  
        <!-- Main navbar -->
        <div class="menu-area nav-white-bg nav-fixed">
          <div class="toogle-bars">
            <a href="#menu-collapse" data-toggle="collapse" class="collapsed"><i class="fa fa-bars ic-open"></i> <i class="fa fa-remove ic-close"></i> MENU</a>
          </div>
          <div class="menu-collapse collapse" id="menu-collapse">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  <ul class="breadcrumb main-nav no-space">
                    <li class="link-inpage"><a href="#contact" id="hireme-tab" class="link-inpage"><i class="fa fa-briefcase"></i> Hire Me Now</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="breadcrumb main-nav nav">
                    <li class=""><a routerLink="home" routerLinkActive="active" class="link-inpage">Home</a></li>
                    <li><a routerLink="portfolio" routerLinkActive="active" class="link-inpage">Portfolio</a></li>
                    <li><a routerLink="blog" routerLinkActive="active" class="link-inpage">Blog</a></li>
                    <li><a routerLink="contact" routerLinkActive="active" id="contact-tab" class="link-inpage">Contact</a></li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <ul class="breadcrumb main-nav no-space">
                    <li>
                      <a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-github"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Main navbar -->
      </header><!-- End Main Header -->